<a href="https://colab.research.google.com/github/VaishnaviKilambi/SQL/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[1,2,3,4,5]

In [ ]:
l = []

while l:
  print('inside while loop')

In [ ]:
l = [1]

while l:
  print('inside while loop')

In [ ]:
l = [1]

while l:
  print('inside while loop')

In [ ]:
while True:
  print('inside while loop')

In [ ]:
while False:
  print('inside while loop')

In [ ]:
l=[1,2,3,4,5]
index=0

while True:
  if index == len(l):
    break

  print(l[index])
  index += 1

1
2
3
4
5

**syntax:**

while var:
  do-something

In [ ]:
l=[1,2,3,4,5]
index = 0
sum = 0
while True:
  if index == len(l):
    break
  sum = sum+l[index]
  index += 1

print(sum)

15

In [ ]:
l=[1,2,3,4,5]
index = 0
max_value = l[0]

while True:
  if index == len(l):
    break
  if max_value < l[index]:
     max_value = l[index]
  index +=1
print(max_value)

5

In [ ]:
if True:
  pass

In [ ]:
if True:
  pass
else:
  pass

In [ ]:
if True:
  pass
elif True:
  pass
elif True:
  pass
elif True:
  pass
else:
  pass

In [ ]:
cities = ['dallas','dublin','oakland','sanfransisco','sanjose']

for city in cities:
  if city == 'dublin':
    print("I am in dublin")
  elif city == 'oakland':
    print("I am in oakland")
  elif city == 'sanfransisco':
    print("I am in sanfransisco")
  elif city == 'sanjose':
    print("I am in sanjose")
  else:
    print("I am in other city")

I am in other city
I am in dublin
I am in oakland
I am in sanfransisco
I am in sanjose

In [ ]:
Numbers = [1,2,3,4,5,6,7,8]
even = []
odd = []

for num in Numbers:
  if num%2 == 1:
    odd.append(num)
  elif num%2 == 0:
    even.append(num)
  else:
    pass

print(even)
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
Numbers = [1,2,3,4,5,6,7,8,9,10]
max_value = Numbers[0]

for num in Numbers:
  if num > max_value:
    max_value = num

print(max_value)

10

In [ ]:
Numbers = [1,2,3,4,5,6,7,8,9,10]
max_value = Numbers[0]
min_value = Numbers[0]

for num in Numbers:
  if num > max_value:
    max_value = num
  elif num < min_value:
    min_value = num

print('the max value is',max_value)
print('the min value is',min_value)

the max value is 10
the min value is 1

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
index = 0
max_value = l[0]
min_value = l[0]

while True:
  if index == len(l):
    break
  if l[index] > max_value:
    max_value = l[index]
  elif l[index] < min_value:
    min_value = l[index]
  index = index+1

print('the max value is',max_value)
print('the min value is',min_value)

the max value is 10
the min value is 1